*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #292526;
    overflow-x: hidden;
    background-color: #fff5e4;
}

.container{
    display: flex;
}

.left-container{
    flex: 1;
    padding: 30px;
    position: relative;
}

header{
    display: flex;
    align-items: center;
}

header h1{
    opacity: 0;
}

.left-container .toggle-container{
    width: 100%;
    height: 30px;
    text-align: center;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left-container .toggle{
    cursor: pointer;
    transition: all ease 0.5s;
    opacity: 0;
}

.left-container .toggle span{
    width: 7px;
    height: 7px;
    display: block;
    position: relative;
    margin: 1px 0;
    content: '';
    border-radius: 50%;
    background-color: #333;
}

.left-container section .title{
    font-size: 70px;
    line-height: 80px;
    padding-top: 20px;
    opacity: 0;
}

.desc{
    font-style: 20px;
    color: #ffa200;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    opacity: 0;
}

.btn{
    font-size: 20px;
    display: inline-block;
    color: #333;
    border: 3px solid #333;
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 50px;
    margin-top: 20px;
    transition: all ease 0.5s;
    opacity: 0;
}

.left-container section .btn:hover{
    background-color: #333;
    color:  #fff;
}

nav,
#about-section{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    padding: 0 30px;
    z-index: 1;
    left: -100%;
    transition: all ease 0.5s;
}

nav .navbar{
    list-style: none;
    padding-left: 0;
}

nav .navbar li{
    display: inline-block;
    width: 100%;
}

nav .navbar li a{
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    padding: 30px 0 10px;
    color: #333;
    transition: all ease .5s;
    cursor: pointer;
}

nav .navbar li a:hover{
    color: #ffa200;
}

nav .sosmed{
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

nav .sosmed li{
    font-size: 25px;
    margin: 10px;
    margin-right: 20px;
}

nav .sosmed li:last-child{
    margin-bottom: 10px;
}

nav .sosmed a{
    text-decoration: none;
    color: #333;
    padding-bottom: 10px;
    transition: all ease 0.5s;
}

nav .sosmed a:hover{
    color: #ffa200;
}

#about-section.menu{
    left: 0;
}

.container .left-container .menu{
    left: 0;
}

.container .left-container .menu .toggle{
    transform: rotate(90deg);
}


.right-container{
    flex: 2;
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.right-container .portfolio{
    width: 100%;
    text-align: center;
    opacity: 0;
}

.right-container img{
    width: 70%;
    transition: all ease 0.5s;
}

.portfolio img:hover{
    width: 100%;
}

#about-section{
    height: 100vh;
    z-index: 3;
    overflow-y: auto;
}

.box-profile{
    text-align: center;
    margin-top: 10vh;
}

.box-profile img{
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

.box-profile h1{
    font-size: 20px;
    font-weight: bold;
    margin: 2px 0;
}

.box-profile h2{
    font-size: 18px;
    font-weight: bold;
    margin: 2px 0;
}

.profile-desc{
    margin-top: 10px;
    text-align: justify;
    text-indent: 0.5in;
    padding: 0 30px;
    font-size: 12px;
}

.box-skills{
    width: 100%;
    display: flex;
}

.skill{
    flex: 1;
    text-align: left;
}

.skill-container,
.contact-me{
    padding: 0 30px;
    margin: 5px 0;
}

.skill-container h1,
.contact-me h1{
    font-size: 15px;
    font-weight: bold;
}

.contact-me{
    margin-top: 10px;
}

.contact{
    text-align: center;
    font-size: 10px;
}

.contact p{
    margin-bottom: 5px;
}

.sosmed a{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
}

.skill-desc{
    display: inline-block;
    font-size: 10px;
    width: 15%;
    margin-right: 10px;
    text-align: left;
}

.p-10{
    width: 10% !important;
}

.p-20{
    width: 20% !important;
}

.p-30{
    width: 30% !important;
}

.p-40{
    width: 40% !important;
}

.p-50{
    width: 50% !important; 
}

.p-60{
    width: 60% !important;
}

.p-70{
    width: 70% !important;
}

.p-80{
    width: 80% !important;
}

.p-90{
    width: 90% !important;
}


.skill-percentage{
    display: inline-block;
    height: 10px;
    background-color: #333;
    color: #fff;
    font-size: 8px;
    padding: 1px 2px;
    text-align: right;
}

.skill-level{
    display: inline-block;
}

