*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}

.logo-container, 
.nav-links,
.cart{
    display: flex;
}

.logo{
    font-weight: 400;
    margin: 5px;
}

.logo-container{
    flex: 1;
}

nav{
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: #5f5f79;
    text-decoration: none;
    font-size: 18px;
}

.cart{
    flex: 1;
    justify-content: flex-end;   
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction{
    flex: 1;
}

.introduction1{
    flex: 1;
}

.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text1 h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

.intro-text p{
    margin-top: 5px;
    font-size: 20px;
    color: #585772;
}

.intro-text1 p{
    margin-top: 5px;
    font-size: 20px;
    color: #585772;
    text-align: right;
}

.cta{
    padding: 50px 0 0 0;
}


.cta1{
    padding: 50px 0 0 0;
    text-align: right;
}

.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-select1{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-add{
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin-left: 30px;
}

.cta-add1{
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin-right: 30px;
}

.cover{
    flex: 1;
    height: 60vh;
}

.cover1{
    flex: 1;
    height: 60vh;
}

.cover1 img{
    height: 100%;
    filter:  drop-shadow(0px 5px 3px black);
    animation: toright 1.5s ease;
}

.cover img{
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: toleft 1.5s ease;
}

.cover1{
    text-align: right;
}

.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.big-circle1{
    position: absolute;
    top: 100%;
    left: -400px;
    transform: rotate(200deg);
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.mid-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.mid-circle1{
    position: absolute;
    top: 130%;
    left: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
    height: 40%;
}

.small-circle1{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
    height: 40%;
}

@keyframes toright{
    0%{
        opacity: 0;
        transform: translateX(-80px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toleft{
    0%{
        opacity: 0;
        transform: translateX(80px)
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
    }

    .introduction{
        margin-top: 5vh;
        text-align: center;
    }

    .introduction1{
        margin-top: 5vh;

    }

    .intro-text h1{
        font-size: 30px;
        text-align: center;
    }

    .introduction1 .intro-text1 h1{
        font-size: 30px;
        text-align: center;
    }

    .intro-text p{
        font-size: 18px;
    }

    .cta{
        padding-top: 10px;
    }

    .introduction1 .intro-text1 p{
        font-size: 18px;
        text-align: center;
    }

    .introduction1 .cta1{
        padding-top: 10px;
        text-align: center;
    }

    .laptop-select{
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }

    .introduction1 .laptop-select1{
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }

    .cover img{
        height: 80%;
    }

    .cover1 img{
        position: absolute;
        height: 50vh;
        top: 150%;
        left: 20%;
    }

    .small-circle,
    .mid-circle,
    .big-circle{
        opacity: 0.2;
    }
}

